header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 9.5rem;
    width: 100%;
}

.header__left {
    display: flex; 
}

.header__search-box {
    align-items: center;
    background-color: var(--cinza-claro);
    border: none;
    border-radius: 30px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-left: 2rem;
    padding: 0px 16px;
    width: 29vw;
}

.header__search-box__text-input {
    background-color: inherit;
    border: none;
    font-size: 0.9rem;
    width: 100%;
}

.header__search-box__text-input:focus {
    outline: none;
}

.header__btn {
    background-color: white;
    border-color: var(--azul);
    color: var(--azul);
        font-family: var(--font-base);
    padding: 16px 70px;
}

/* RESPONSIVIDADE */

/* TABLET */
@media (max-width: 768px) {
    header {
        padding: 1rem 2rem;
    }
}

/* SMARTPHONE */
@media (max-width: 480px) {
    header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        width: 100px;
    }

    .header__search-box__text-input {
        display: none;
    }

    .header__left a {
        margin: 0;
        padding: 0;
    }

    .header__search-box {
        background-color: white;
        margin: 0;
        padding: 0;
    }

    .header__btn__link {
        display: flex;
        order: 2;

    }

    .header__btn {
        font-size: 14px;
        padding: 12px 47px;
    }
}